<%= render 'layouts/header', :locals => {:page_header => t('header_contact')} %>

<div id="before-content-area">
	<p><%=t :contact_h1 %></p>
	<p><%=t :contact_b1 %></p>
	<p>Email: <a href="mailto:helpdesk@bibicoins.com.tw">helpdesk@bibicoins.com.tw</a></p>
	<p>Phone: +886 922711415</p>
	<p>Zhongxiao Dong Lu, Unit 18/C</p>
</div>

