<%= render 'layouts/header', :locals => {:page_header => t('header_reviews')} %>

<div id="before-content-area">
	<blockquote><%=t :reviews_h1 %><cite>Wayne Leung</cite></blockquote>
	<blockquote><%=t :reviews_h2 %><cite>Wayne Leung</cite></blockquote>
	<blockquote><%=t :reviews_h3 %><cite>Wayne Leung</cite></blockquote>
</div>