<div class="bibicoin-header-bg-orange">
	<div id="before-content-area">
		<h1><%=t :header_reviews %></h1>
	</div>
</div>

<div id="before-content-area">
	<blockquote><%=t :reviews_h1 %><cite>Wayne Leung</cite></blockquote>
	<blockquote><%=t :reviews_h2 %><cite>Wayne Leung</cite></blockquote>
	<blockquote><%=t :reviews_h3 %><cite>Wayne Leung</cite></blockquote>
</div>