<div class="bibicoin-header-bg-orange">
	<div id="before-content-area">
		<h1><%=t :header_sell %></h1>
	</div>
</div>

<div id="before-content-area">	
	<h4 class="subheader">New Sell Request</h4>
	<p>Start your request by filling in the details on this form.  You will be able to review and confirm these details in the next step.</p>
	<p>The maximum currency amount for Sell Orders is currently NTD 300,000 per customer per day.  The minimum amount for Sell Orders is NTD 3,000.  Please contact us directly if you have further questions regarding daily limits</p>
</div>
