<%= render 'layouts/header', :locals => {:page_header => t('header_sell')} %>

<div id="before-content-area">	
	<div class="row">
	  <div class="small-3 columns"><a href="#" class="[tiny small large] button"><b>Step 1:</b> Fill out Sell Form</a></div>
	  <div class="small-3 columns"><a href="#" class="[tiny small large] button disabled"><b>Step 2:</b> Review & Submit Order</a></div>
	  <div class="small-3 columns"><a href="#" class="[tiny small large] button disabled"><b>Step 3:</b> Order Confirmation</a></div>
	  <div class="small-3 columns"><a href="#" class="[tiny small large] button disabled"><b>Step 4:</b> Check Email & Transfer Bitcoin</a></div>	  
	</div>
	<h4 class="subheader">Sell Bitcoins</h4>
	<div class="row">
		<div class="small-7 columns">
			<div class="row">
			  	<div class="small-4 columns">&nbsp;</div>
			  	<div class="small-3 columns">Bitcoin Amt</div>
			   <div class="small-1 columns">&nbsp;</div>
				<div class="small-3 columns">NTD Amt</div>
				<div class="small-2 columns"></div>
			</div>	
			<div class="row">
			  	<div class="small-4 columns">Sell Amounts:</div>
			  	<div class="small-3 columns">
				<label>
					<input type="text" placeholder="2.0 Bitcoin" />
				</label>
				</div>
				<div class="small-1 columns">to</div>
				<div class="small-3 columns">
				<label>
					<input type="text" placeholder="30,000 NTD" />
				</label>
				</div>
				<div class="small-1 columns end">&nbsp;</div>
			</div>
			<div class="row">
			  	<div class="small-4 columns">Wallet address:</div>
			  	<div class="small-8 columns">
				<label>
					<input type="text" placeholder="12dWLFxqZazNHzpkZvgRD12Vs" />
				</label>
				</div>
			</div>	
			<div class="row">
			  	<div class="small-4 columns">Your email address:</div>
			  	<div class="small-8 columns">
				<label>
					<input type="text" placeholder="email@email.com" />
				</label>
				</div>
			</div>	
			<div class="row">
			  	<div class="small-12 columns">Your Bank Deposit Details:</div>
			</div>
			<div class="row">
			  	<div class="small-12 columns">&nbsp;</div>
			</div>														
			<div class="row">
			  	<div class="small-4 columns">Bank Name:</div>
			  	<div class="small-8 columns">
				<label>
					<input type="text" placeholder="Bank of America" />
				</label>
				</div>
			</div>
			<div class="row">
			  	<div class="small-4 columns">Account Holder Name:</div>
			  	<div class="small-8 columns">
				<label>
					<input type="text" placeholder="John Lee" />
				</label>
				</div>
			</div>
			<div class="row">
			  	<div class="small-4 columns">Account number:</div>
			  	<div class="small-8 columns">
				<label>
					<input type="text" placeholder="123456789" />
				</label>
				</div>
			</div>
			<div class="row">
			  	<div class="small-4 columns">Date of Birth:</div>
			  	<div class="small-8 columns">
				<label>
					<input type="text" placeholder="1/1/1980" />
				</label>
				</div>
			</div>									
			<div class="row">
			  	<div class="small-1 columns">&nbsp;</div>
			  	<div class="small-1 columns">
					<input type="checkbox"/>
				</div>
			  	<div class="small-10 columns">
					<p>Required: I have read and accept the terms and conditions of using this service.</p>
				</div>				
			</div>					
		</div>	
		<div class="small-5 columns">
			<h4>New Sell Request</h4>
			<p>Start your request by filling in the details on this form.  You will be able to review and confirm these details in the next step.</p>
			<p>The maximum currency amount for Sell Orders is currently NTD 300,000 per customer per day.  The minimum amount for Buy Orders is NTD 3,000.  Please contact us directly if you have further questions regarding daily limits.</p>
		</div>	
	</div>
	<div class="row">
	  	<div class="small-2 columns"><a href="#" class="[tiny small large] button">Next</a></div>
	  	<div class="small-10 columns end">
	</div>	
</div>
