<%= render 'layouts/header', :locals => {:page_header => t('header_traditional')} %>

<div id="before-content-area">
	<div class="row">
	  	<div class="small-2 columns"><%= image_tag("bw_mobile.png", :alt => "house") %></div>
	  	<div class="small-10 columns">	
			<h5><%=t :bitcoins_h1 %></h5>
			<p><%=t :bitcoins_b1 %></p>
		</div>
	</div>
	<div class="row">
	  <div class="small-3 columns">
		<ul class="bibicoin-sidebar">
			<li><a href="#">Link 1</a></li>
			<li><a href="#">Link 2</a></li>
			<li><a href="#">Link 3</a></li>
			<li><a href="#">Link 4</a></li>
		</ul>		  
	  </div> 
	  <div class="small-9 columns">
	  </div> 	  
	</div>	
</div>