// Place all the styles related to the Bibicoin Site  here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* -----------------------------------------
   CSS Reset
----------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2,fo h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, tr {
	margin: 0;
	padding: 0;
	border: none;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
} 


/* -----------------------------------------
   Common
----------------------------------------- */

.bibicoin-protectyourself {
  padding-left: 68px;
  float: right;
}

/* -----------------------------------------
   Header
----------------------------------------- */

.bibicoin-header-bg-orange {
	background: #ef632f;
}

.row {
  max-width: 80rem; }

/* -----------------------------------------
   Body
----------------------------------------- */

.bibicoin-header-bg-orange {
  background: #ef632f;
}

.bibicoin-bullets {
  padding-left: 24px;
  background: url(image-path('bullet.png')) no-repeat 5px 8px;
  border-top: 1px  #ccc;
}

#before-content-area { 
  padding: 20px 0 10px; 
}

#before-content-area h1 {
  margin-left: 10px;
  font-size: 36px;
  color: #f8f8f8;
  line-height: 50px;
}

#before-content-area p, #before-content-area h4, #before-content-area h5, #before-content-area li  {
  margin-left: 10px;
  margin-right: 10px;
  max-width: 80rem;
}
		  
/* -----------------------------------------
   Footer
----------------------------------------- */
.bibicoin-footer-bottom {
  background: #333;
  padding: 20px 0 10px; }
  .bibicoin-footer-bottom .design-border {
    border-bottom: 1px solid #484848;
    padding-bottom: 5px;
    margin-bottom: 25px; }
  .bibicoin-footer-bottom ul.bibicoin-links {
    margin: 0;
    display: inline-block; }
    .bibicoin-footer-bottom ul.bibicoin-links li {
      display: block;
      float: left;
      margin-left: 0px;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 0.66666rem; }
      .bibicoin-footer-bottom ul.bibicoin-links li a {
        color: #666;
        padding: 3px 6px; }
        .bibicoin-footer-bottom ul.bibicoin-links li a:hover {
          color: #777; }
  .bibicoin-footer-bottom p.copyright {
    margin: 0px 0 0;
	 padding: 3px 6px;
    font-size: 0.66667rem;
    color: #666; }
  .bibicoin-footer-bottom ul.home-social {
    display: block;
    float: right;
    margin-bottom: 8px; }
    .bibicoin-footer-bottom ul.home-social li {
      list-style: none;
      display: block;
      float: left;
      margin-left: 10px; }
      .bibicoin-footer-bottom ul.home-social li:first-child {
        margin-left: 0; }
      .bibicoin-footer-bottom ul.home-social li a {
        display: block;
        height: 50px;
        width: 50px;
        background: url(image-path('social.png')) no-repeat center 0; }
        .bibicoin-footer-bottom ul.home-social li a:hover {
          opacity: 0.8; }
        .bibicoin-footer-bottom ul.home-social li a.twitter {
          background-position: center 0; }
        .bibicoin-footer-bottom ul.home-social li a.facebook {
          background-position: center -200px; }
        .bibicoin-footer-bottom ul.home-social li a.mail {
          background-position: center -400px; }		  