// Place all the styles related to the Bibicoin Site  here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* -----------------------------------------
   Custom Bibicoins CSS
----------------------------------------- */

/* -----------------------------------------
   FONTS
----------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);

/* -----------------------------------------
   COLOR SCHEME
----------------------------------------- */

.bibicoins-bg-darkgrey {
  background: #898989;
}

.bibicoins-bg-lightgrey {
  background: #f3f3f3;
}

.bibicoins-bg-orange {
  background: #f16221;
}

.bibicoins-bg-pink {
  background: #ffcfab;
}

.bibicoins-bg-beige {
  background: #ffebdc;
}


/* -----------------------------------------
   LINKS
----------------------------------------- */

a:link {
    text-decoration: none;
    color: #878787;
}

a:visited {
    text-decoration: none;
    color: #878787;
}

a:hover {
    text-decoration: none;
    color: #878787;
}

a:active {
    text-decoration: none;
    color: #878787;
}

a.header:link {
    text-decoration: none;
    color: #f16221;
    font-size: 37px;
    text-transform: uppercase;
    font-family: 'Roboto Slab';
}

a.header:visited {
    text-decoration: none;
    color: #f16221;
    font-size: 37px;
    text-transform: uppercase;    
}

a.header:hover {
    text-decoration: none;
    color: #f16221;
    font-size: 37px;
    text-transform: uppercase;
}

a.header:active {
    text-decoration: none;
    color: #f16221;
    font-size: 37px;
    text-transform: uppercase;   
}

a.footer:link {
    text-decoration: none;
    color: #f3f3f3;
    font-size: 10px;
}

a.footer:visited {
    text-decoration: none;
    color: #f3f3f3;
    font-size: 10px;  
}

a.footer:hover {
    text-decoration: none;
    color: #f3f3f3;
    font-size: 10px;
}

a.footer:active {
    text-decoration: none;
    color: #f3f3f3;
    font-size: 10px; 
}

/* -----------------------------------------
   TEXT
----------------------------------------- */

.bibicoins-icons-menu-text {
  color: #898989;
  font-size: 14px;
  font-weight: 700;  
  text-transform: uppercase;
  padding: 2px 2px 2px 2px; 
}

.bibicoins-footer-menu-header-text {
  background: #898989;
  font-size: 14px;
  text-transform: uppercase;
  padding: 2px 2px 2px 2px; 
  color: #f8f8ff;
}

.bibicoins-footer-menu-text {
  color: #898989;
  font-size: 10px;
  color: #f8f8ff;
  text-transform: capitalize;
}

.bibicoins-header-text-orange {
  color: #f16221;
  font-weight: 700;
  padding: 10px 10px;
  text-transform: uppercase; 
}

.bibicoins-header-text-orange-opacity {
  color: #f16221;
  font-weight: 700;
  padding: 10px 10px;
  text-transform: uppercase; 
  opacity: 0.5;
}

.bibicoins-body-text {
  color: #898989;
  font-weight: 400;
  font-size: 14;
}

.bibicoins-header-text-darkgrey {
  color: #898989;
  font-weight: 700;
  padding: 2px 2px 2px 2px; 
  text-transform: uppercase;   
}

.bibicoins-form-text-homepage {
  font-size: 14px;
  padding: 2px 2px 2px 40px;
  text-transform: uppercase; 
  vertical-align: text-middle;

}

.bibicoins-form-input-homepage {
  padding: 2px 40px 2px 2px; 
}

.bibicoins-header-text-orange-block {
  padding: 10px 50px 10px 50px;
  text-transform: uppercase;
  background-color: #f16221; 
  font-size: 37px;
  font-family: 'Roboto Slab';
  display:inline-block; 
  color: #f8f8ff;
}

.bibicoins-subheader-txt {
  font-size: 17px;
  font-weight: 700;
  color: #f16221;
  text-transform: uppercase;
  padding: 4px 4px;   
}


.bibicoins-main-menu {
  font-size: 14px;
  color: #878787;
  padding: 20px 10px 5px 10px;
  text-transform: uppercase;
}

.bibicoins-icon-menu-txt {
  float: right;
  font-size: 16px;
  color: #878787;
}

.bibicoins-home-buy-form {
  background-color: #ffcfab;
}

.bibicoins-home-sell-form {
  background-color: #ffebdc;
}

/* -----------------------------------------
   Spacing
----------------------------------------- */

.no-padding {
    padding-left: 0px;
    padding-right: 0px; 
}

/*.row {
  max-width: 80rem; }*/

/* -----------------------------------------
   Body
----------------------------------------- */

.bibicoins-header-bg-orange {
  background: #f16221;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Roboto Slab';
  text-align: center;  
}

.bibicoins-bullets {
  padding-left: 24px;
  background: url(image-path('bullet.png')) no-repeat 5px 8px;
  border-top: 1px  #ccc;
  margin-bottom: 1px;
}

#before-content-area { 
  padding: 20px 0 10px; 
}

#before-content-area h1 {
  margin-left: 10px;
  font-size: 36px;
  color: #f8f8f8;
  line-height: 50px;
}

#before-content-area p, #before-content-area h4, #before-content-area h5, #before-content-area li  {
  margin-left: 10px;
  margin-right: 10px;
  max-width: 80rem;
}

.bibicoins-footer-bottom-lightgrey-line {
    border-top: 1px solid #f3f3f3;
    padding-bottom: 5px;
    margin-bottom: 25px; 
}
		  
/* -----------------------------------------
   Footer
----------------------------------------- */
.bibicoins-footer-bottom {
  background: #898989;
  padding: 20px 0 10px; }
  .bibicoins-footer-bottom .design-border {
    border-bottom: 1px solid #484848;
    padding-bottom: 5px;
    margin-bottom: 25px; }
  .bibicoins-footer-bottom ul.bibicoins-links {
    margin: 0;
    display: inline-block; }
    .bibicoins-footer-bottom ul.bibicoins-links li {
      display: block;
      float: left;
      margin-left: 0px;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 0.66666rem; }
      .bibicoins-footer-bottom ul.bibicoins-links li a {
        color: #f3f3f3;
        padding: 3px 6px; }
        .bibicoins-footer-bottom ul.bibicoins-links li a:hover {
          color: #f3f3f3; }
  .bibicoins-footer-bottom p.copyright {
    margin: 0px 0 0;
	  padding: 3px 6px;
    float: right;
    font-size: 0.66667rem;
    color: #f3f3f3; }
  .bibicoins-footer-bottom ul.home-social {
    display: block;
    float: right;
    margin-bottom: 8px; }
    .bibicoins-footer-bottom ul.home-social li {
      list-style: none;
      display: block;
      float: left;
      margin-left: 10px; }
      .bibicoins-footer-bottom ul.home-social li:first-child {
        margin-left: 0; }
      .bibicoins-footer-bottom ul.home-social li a {
        display: block;
        height: 50px;
        width: 50px;
        background: url(image-path('social.png')) no-repeat center 0; }
        .bibicoins-footer-bottom ul.home-social li a:hover {
          opacity: 0.8; }
        .bibicoins-footer-bottom ul.home-social li a.twitter {
          background-position: center 0; }
        .bibicoins-footer-bottom ul.home-social li a.facebook {
          background-position: center -200px; }
        .bibicoins-footer-bottom ul.home-social li a.mail {
          background-position: center -400px; }		  